# Implement your pre-install deployment tasks here
# -------------------------------------------------

- name: Create VPC network
  google.cloud.gcp_compute_network:
    name: "{{ vpc_name }}"
    auto_create_subnetworks: "{{ vpc_auto_create_subnetworks }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: present
  register: vpc_network

- name: Create subnet
  google.cloud.gcp_compute_subnetwork:
    name: "{{ subnet_name }}"
    ip_cidr_range: "{{ subnet_cidr }}"
    network: "{{ vpc_network }}"
    region: "{{ gcp_region }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: present
  register: subnet

- name: Create firewall rule - Allow SSH, HTTP, HTTPS from internet
  google.cloud.gcp_compute_firewall:
    name: "{{ firewall_allow_ssh_http_https }}"
    network: "{{ vpc_network }}"
    allowed:
      - ip_protocol: tcp
        ports:
          - '22'
          - '80'
          - '443'
    source_ranges:
      - '0.0.0.0/0'
    target_tags:
      - ssh
      - http
      - https
      - rhauto
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: present

- name: Create firewall rule - Allow all internal traffic
  google.cloud.gcp_compute_firewall:
    name: "{{ firewall_allow_internal }}"
    network: "{{ vpc_network }}"
    allowed:
      - ip_protocol: tcp
        ports:
          - '0-65535'
      - ip_protocol: udp
        ports:
          - '0-65535'
      - ip_protocol: icmp
    source_ranges:
      - "{{ subnet_cidr }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: present

- name: Create firewall rule - Allow all egress traffic
  google.cloud.gcp_compute_firewall:
    name: "{{ firewall_allow_egress }}"
    network: "{{ vpc_network }}"
    direction: EGRESS
    allowed:
      - ip_protocol: all
    destination_ranges:
      - '0.0.0.0/0'
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: present
