# Implement your uninstall deployment tasks here
# -------------------------------------------------

- name: Delete VM instance
  google.cloud.gcp_compute_instance:
    name: "{{ vm_name }}"
    zone: "{{ gcp_zone }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent

- name: Delete data disk
  google.cloud.gcp_compute_disk:
    name: "{{ data_disk_name }}"
    zone: "{{ gcp_zone }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent

- name: Delete firewall rule - Allow all egress traffic
  google.cloud.gcp_compute_firewall:
    name: "{{ firewall_allow_egress }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent

- name: Delete firewall rule - Allow all internal traffic
  google.cloud.gcp_compute_firewall:
    name: "{{ firewall_allow_internal }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent

- name: Delete firewall rule - Allow SSH, HTTP, HTTPS from internet
  google.cloud.gcp_compute_firewall:
    name: "{{ firewall_allow_ssh_http_https }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent

- name: Delete additional firewall rules that may exist
  google.cloud.gcp_compute_firewall:
    name: "{{ item }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent
  loop:
    - "{{ vpc_name }}-allow-internal"
    - "{{ vpc_name }}-allow-ssh"
    - "{{ vpc_name }}-allow-custom"
  ignore_errors: true

- name: Delete subnet
  google.cloud.gcp_compute_subnetwork:
    name: "{{ subnet_name }}"
    region: "{{ gcp_region }}"
    network:
      name: "{{ vpc_name }}"
    ip_cidr_range: "{{ subnet_cidr }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent

- name: Wait for subnet deletion to propagate
  pause:
    seconds: 5

- name: Delete VPC network
  google.cloud.gcp_compute_network:
    name: "{{ vpc_name }}"
    project: "{{ gcp_project }}"
    auth_kind: "{{ gcp_cred_kind }}"
    service_account_file: "{{ gcp_cred_file }}"
    state: absent
  register: vpc_delete_result
  retries: 5
  delay: 10
  until: vpc_delete_result is succeeded

- name: Display uninstall completion message
  debug:
    msg: "All GCP resources have been successfully deleted"
