# Implement your post-install deployment tasks here
# -------------------------------------------------

- name: upgrade rhel and install essential packages
  delegate_to: "{{ instance_public_ip }}"
  become: true
  vars:
    ansible_user: "{{ ssh_username }}"
    ansible_ssh_private_key_file: "{{ ssh_key_path | regex_replace('\\.pub$', '') }}"
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
  block:
    - name: upgrade rhel
      dnf:
        name: "*"
        state: latest
      register: upgrade_result

    - name: install essential packages
      dnf:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
          - git
          - podman
          - podman-docker
          - python3-pip
          - jq
          - wget
          - curl